{
 :paths   ["src/clj" "src/cljc" "src/cljs" "resources"]
 :deps    {
           org.clojure/clojure {:mvn/version "1.11.1"}
           org.clojure/clojurescript {:mvn/version "1.10.764"}
           org.clojure/java.jdbc {:mvn/version "0.7.12"}
           org.xerial/sqlite-jdbc {:mvn/version "3.42.0.0"}
           quil/quil {:mvn/version "3.1.0"}
           cljsjs/react {:mvn/version "17.0.2-0"}
           cljsjs/react-dom {:mvn/version "17.0.2-0"}
           reagent/reagent {:mvn/version "1.1.0"}
           com.cleancoders.c3kit/apron {:mvn/version "1.0.2"}
           com.cleancoders.speclj-junit-xml/speclj-junit-xml  {:git/url "https://github.com/cleancoders/speclj-junit-xml" :git/sha "e2200b80b331be5c58c6a586dea44d3a8ea88ffc"}
           speclj/speclj {:mvn/version "3.4.3"}
           }
 :aliases {
           :test  {:extra-paths ["spec/clj" "spec/cljc" "spec/cljs"]}
           :start {:main-opts ["-m" "ttt.main"]}
           :start-gui {:main-opts ["-m" "ttt.main" "-gui"]}
           :spec  {:main-opts ["-m" "speclj.main" "-c"]}
           :cljs  {:main-opts ["-m" "runner.cljs"]}
           }
 }